@model IEnumerable<OLAssignment.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
        //@Html.ActionLink("Create New", "Create")
    </p>*@

<form action="/Course/SCourses">
    <input type="text" name="query">
    <input type="submit">
</form>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseRowId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoFMod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseRowId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoFMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.CourseRowId })
                @Html.ActionLink(linkText: "Enroll",actionName: "CourseEnroll", controllerName: "StudentCourse",routeValues: new { course_id = item.CourseRowId, student_id = ViewBag.loggedInUser },htmlAttributes: new { @class = "btn btn-primary btn-block" })
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CourseRowId })*@
            </td>
        </tr>
    }

</table>
